<section class="aboutUs-Wrap" id="AboutUsAnchor">
  <!-- advantages -->
  <div class="container advantages-wrap">
    <div class="advantages-list__item-title">
      <h4>Why choose us?</h4>
    </div>
    <ul class="advantages-list">
      <!-- <li class="advantages-list__item">
      
      </li> -->

      <li class="advantages-list__item">
        <div class="advantages-list__item-header">
          <svg width="34" height="32" class="icon">
            <use xlink:href="#icon-briefcase"></use>
          </svg>
          <h4 class="advantages-list__item-text">Client-Centric Approach</h4>
        </div>

        <p>
          Your satisfaction is our driving force. We prioritize open
          communication and collaboration to better understand your needs and
          deliver results that exceed expectations
        </p>
      </li>
      <li class="advantages-list__item">
        <div class="advantages-list__item-header">
          <svg width="34" height="32" class="icon">
            <use xlink:href="#icon-library"></use>
          </svg>
          <h4 class="advantages-list__item-text">Licensed professionals</h4>
        </div>

        <p>
          Rest assured, all our specialists hold the necessary licenses and
          permits to render their services effectively and in compliance with
          legal requirements
        </p>
      </li>
      <li class="advantages-list__item">
        <div class="advantages-list__item-header">
          <svg width="34" height="32" class="icon">
            <use xlink:href="#icon-lock"></use>
          </svg>
          <h4 class="advantages-list__item-text">
            Data Security and Confidentiality
          </h4>
        </div>

        <p>
          Your data's safety is paramount to us. We implement robust security
          measures to ensure your information remains protected at all times
        </p>
      </li>
      <li class="advantages-list__item">
        <div class="advantages-list__item-header">
          <svg width="34" height="32" class="icon">
            <use xlink:href="#icon-key"></use>
          </svg>
          <h4 class="advantages-list__item-text">Tailored Solutions</h4>
        </div>

        <p>
          We acknowledge that every business is unique, and so are its financial
          needs. Our team customizes solutions to align with your goals and
          aspirations
        </p>
      </li>
    </ul>
    <!-- <div class="aboutUs-picture-wrap"></div> -->
  </div>
  <!-- END advantages -->

  <!-- ABOUT US -->
  <div class="container about-wrap">
    <div class="img-aboutUs">
      <div class="content-aboutUs">
        <h4 class="about-title">About us</h4>
        <p>
          At GreenWall Group, we take pride in being a dynamic and multinational
          team of professionals, united by a common vision - to empower
          businesses with exceptional financial services.
        </p>
        <p>
          Our journey began in Ukraine, where our main office is located, but
          our reach extends far beyond borders as we seamlessly work together
          from various corners of the globe.
        </p>
        <p>
          As dedicated remote professionals, we transcend geographical
          limitations to bring you world-class financial solutions tailored to
          your unique needs.
        </p>
        <p class="text-continue">Unlocking Your Business's Full Potential...</p>
        <a class="readmore-link about-link" href="aboutFULL.html"
          ><span>Read more</span>
          <svg class="icon icon-arrow-right2">
            <use xlink:href="#icon-arrow-right2"></use></svg
        ></a>
      </div>
    </div>
  </div>
  <!-- END ABOUT US -->

  <!-- <div class="leftSide-vision"> -->
  <!-- <h3 class="title-vision">Our Vision</h3>

      <ul class="text-vision">
        <li>At <b><span class="accent-text">GreenWall Group</span></b>, we are committed to nurturing your financial growth
          and empowering your business to reach new heights.</li>
        <li>As a multinational
          team of professionals, we bring together expertise from diverse fields
          to offer comprehensive financial and legal solutions tailored to your
          unique needs.
          <li>Our vision is to be a driving force behind your business's success, acting as your trusted partner and strategic advisor.</li></li>
        <li>We
          envision a world where businesses thrive, leaving a positive impact on
          the global economy</li>
          
      </ul> -->
  <!-- </div> -->
  <!-- <div class="rightSide-vision"></div> -->
  <!-- </div> -->
</section>
