<section class="contacts">
    <div class="container contacts-wrap" id="ContactsAnchor">
      <div class="leftSide-contacts">
        <h2 class="form-title">
          Sign Up the form to get
          <span class="accent-text">a free consultation</span> with our manager
        </h2>
  
        <div class="form-wrap">
          <form id="formFooter" class="form" autocomplete="off">
            <label for="inputServicesFooter">
              <input
                class="dropdown-toggle-footer"
                class="right-input"
                name="inputServicesFooter"
                id="inputServicesFooter"
                placeholder="Choose a service"
                required
                readonly
              />
              <div class="custom-dropdown">
                <div class="dropdown-content-footer">
                  <div class="dropdown-item" data-local="footer">Bookkeeping</div>
                  <div class="dropdown-item" data-local="footer">Payroll</div>
                  <div class="dropdown-item" data-local="footer">
                    Financial analysis
                  </div>
                  <div class="dropdown-item" data-local="footer">
                    Tax preparation
                  </div>
                  <div class="dropdown-item" data-local="footer">
                    Legal services
                  </div>
                  <div class="dropdown-item" data-local="footer">
                    Company Formation
                  </div>
                </div>
              </div>
              <svg class="icon icon-ctrl">
                <use xlink:href="#icon-ctrl"></use>
              </svg>
            </label>
  
            <input
              type="text"
              id="formNameFooter"
              name="formName"
              value=""
              class=""
              placeholder="Full Name"
              required
            />
            <input
              type="email"
              id="formEmailFooter"
              name="formEmail"
              value=""
              class=""
              placeholder="Email"
              required
            />
            <input
              type="tel"
              id="formPhoneFooter"
              name="formPhone"
              value=""
              class=""
              placeholder="Phone Number"
              required
            />
  
            <!-- <input type="text" id="formAddressFooter" name="formAddress" value="" class="inputAddress2" required /> -->
  
            <button type="submit" id="submitFooter" class="submit">Send</button>
          </form>
        </div>
      </div>
  

    </div>
  </section>
  