<section class="container services-wrap " id="ServicesAnchor">

 <div class="rightSide-services ">
  <h3 class="services-title">Our Services</h3>
  <ul class="services-list">
    <li class="services-list__item">
        <h3 class="services-title-list">Bookkeeping</h3>
        <p class="services-text">
          Accurate Bookkeeping for Financial Clarity
        </p>
        <a class="readmore-link" href="./bookkeeping.html"><span>Read more</span> <svg class="icon icon-arrow-right2"><use xlink:href="#icon-arrow-right2"></use></svg></a>
    </li>
    <li class="services-list__item">
        <h3 class="services-title-list">Payroll</h3>
        <p class="services-text">
          Efficient Payroll  Management for Contented Employees
        </p>
        <a class="readmore-link" href="./payroll.html"><span>Read more</span> <svg class="icon icon-arrow-right2"><use xlink:href="#icon-arrow-right2"></use></svg></a>

    </li>
    <li class="services-list__item">
        <h3 class="services-title-list">Financial analysis</h3>
        <p class="services-text">
          Empowering Your Financial Vision
        </p>
        <a class="readmore-link" href="./financial-analysis.html"><span>Read more</span> <svg class="icon icon-arrow-right2"><use xlink:href="#icon-arrow-right2"></use></svg></a>

    </li>
    <li class="services-list__item">
        <h3 class="services-title-list">Tax preparation</h3>
        <p class="services-text">
          Accurate Tax Preparation for Maximum Returns
        </p>
        <a class="readmore-link" href="./tax-preparation.html"><span>Read more</span> <svg class="icon icon-arrow-right2"><use xlink:href="#icon-arrow-right2"></use></svg></a>

    </li>
    <li class="services-list__item">
        <h3 class="services-title-list">Legal services</h3>
        <p class="services-text">
          Your Shield in Legal Matters
        </p>
        <a class="readmore-link" href="./legal.html"><span>Read more</span> <svg class="icon icon-arrow-right2"><use xlink:href="#icon-arrow-right2"></use></svg></a>
    </li>
    <li class="services-list__item">
        <h3 class="services-title-list">Company Formation</h3>
        <p class="services-text">
          Building Your Vision, Structuring Your Success        
        </p>
        <a class="readmore-link" href="./company-formation.html"><span>Read more</span> <svg class="icon icon-arrow-right2"><use xlink:href="#icon-arrow-right2"></use></svg></a>
    </li>
  </ul>
</div>

</section>
</div> 