<section class="team" id="TeamAnchor">
  <div class="container team-wrapper">
    <div class="team-content">
      <h2 class="team-title">Our Team</h2>
      <p class="team-description">
        At GreenWall Group, our team of dedicated professionals is here to
        provide you with expert guidance and support in various areas of
        finance, law, and business. Get to know the individuals who make up our
        exceptional team:
      </p>
      <ul class="team-list">
        <li class="team-list__item">
          <div class="thumb">
            <img
              src="./images/team/Oleksandr.jpg"
              alt="OLEKSANDR VOLTORNIST"
              class="photo OLEKSANDR"
            />
            <div class="team-overlay">
              <h4 class="team-overlay__title">Oleksandr Voltornist</h4>
              <p class="team-overlay__role">CEO and Founder</p>
              <p class="team-overlay__discription1 team-descriptions">
                 <span class="team-accent-text">Education:</span> master’s degree in International Law

              </p>
              <p class="team-overlay__discription2 team-descriptions">
                 <span class="team-accent-text">Experience:</span> 7 years

              </p>
              <p class="team-overlay__discription3 team-descriptions">
                <span class="team-accent-text">Field of competence:</span> legal drafting, legal consulting, corporate law, international private law, tax preparation, tax planning, tax consulting
              </p>
              <p class="team-overlay__discription4 team-descriptions">
                <span class="team-accent-text">Credentials:</span> Bar license; Annual Filling Season Program certification, Quickbooks ProAdvisor.

              </p>
            </div>
          </div>
        </li>
        <li class="team-list__item">
          <div class="thumb">
            <img
              src="./images/team/Muyiwa.jpg"
              alt="MUYIWA BABAYEMI"
              class="photo MUYIWA"
            />
            <div class="team-overlay">
              <h4 class="team-overlay__title">Muyiwa Babayemi</h4>
              <p class="team-overlay__role">Chief Financial Officer</p>
              <p class="team-overlay__discription1 team-descriptions">
                <span class="team-accent-text">Education:</span> master’s degree in Accountancy

              </p>
              <p class="team-overlay__discription2 team-descriptions">
                <span class="team-accent-text">Experience:</span> 18 years

              </p>
              <p class="team-overlay__discription3 team-descriptions">
                <span class="team-accent-text">Field of competence:</span> accountancy, bookkeeping, financial management, financial consulting, tax planning

              </p>
              <p class="team-overlay__discription4 team-descriptions">
                <span class="team-accent-text">Credentials: </span>Quickbooks ProAdvisor, Quickbooks Advance certificate, Annual Filling Season Program

              </p>
            </div>
          </div>
        </li>
        <li class="team-list__item">
          <div class="thumb">
            <img
              src="./images/team/Leonid.jpg"
              alt="LEONID TSYMBALIUK"
              class="photo LEONID"
            />
            <div class="team-overlay">
              <h4 class="team-overlay__title">Leonid Tsymbaliuk</h4>
              <p class="team-overlay__role">Lawyer</p>
              <p class="team-overlay__discription1 team-descriptions">
                <span class="team-accent-text">Education:</span> bachelor’s degree in Law

              </p>
              <p class="team-overlay__discription2 team-descriptions">
                <span class="team-accent-text">Experience:</span> 3 years

              </p>
              <p class="team-overlay__discription3 team-descriptions">
                <span class="team-accent-text">Field of competence: </span>legal drafting, legal consulting, corporate law, mediation

              </p>
              <p class="team-overlay__discription4 team-descriptions">
                <span class="team-accent-text">Credentials:</span> Ukrainian Mediator’s School license

              </p>
            </div>
          </div>
        </li>
        <li class="team-list__item">
          <div class="thumb">
            <img
              src="./images/team/Serhii.jpg"
              alt="SERHII VOLTORNIST"
              class="photo SERHII"
            />
            <div class="team-overlay">
              <h4 class="team-overlay__title">Serhii Voltornist</h4>
              <p class="team-overlay__role">Advocate</p>
              <p class="team-overlay__discription1 team-descriptions">
                <span class="team-accent-text">Education:</span> master’s degree in Law

              </p>
              <p class="team-overlay__discription2 team-descriptions">
                <span class="team-accent-text">Experience:</span> 27 years

              </p>
              <p class="team-overlay__discription3 team-descriptions">
                <span class="team-accent-text">Field of competence:</span> legal drafting, legal consulting, corporate law, civil law, commercial law, court trials

              </p>
              <p class="team-overlay__discription4 team-descriptions">
                <span class="team-accent-text">Credentials:</span> Bar license, Member of the Regional Association of Advocates

              </p>
            </div>
          </div>
        </li>
        <li class="team-list__item">
          <div class="thumb">
            <img
              src="./images/team/Nadia.jpg"
              alt="NADIA KARPOVA"
              class="photo NADIA"
            />
            <div class="team-overlay">
              <h4 class="team-overlay__title">Nadia Karpova</h4>
              <p class="team-overlay__role">Tax Preparer</p>
              <p class="team-overlay__discription1 team-descriptions">
                <span class="team-accent-text">Education:</span> specialist’s degree in Bookkeeping

              </p>
              <p class="team-overlay__discription2 team-descriptions">
                <span class="team-accent-text">Experience:</span> 6 years

              </p>
              <p class="team-overlay__discription3 team-descriptions">
                <span class="team-accent-text">Field of competence:</span> bookkeeping, tax planning, tax consulting, financial consulting

              </p>
              <p class="team-overlay__discription4 team-descriptions">
                <span class="team-accent-text">Credentials:</span> Quickbooks Advance certificate

              </p>
            </div>
          </div>
        </li>
        <li class="team-list__item">
          <div class="thumb">
            <img
              src="./images/team/Thomas.jpg"
              alt="THOMAS UWEMEDIMO"
              class="photo THOMAS"
            />
            <div class="team-overlay">
              <h4 class="team-overlay__title">Thomas Uwemedimo</h4>
              <p class="team-overlay__role">Sales Team Leader</p>
              <p class="team-overlay__discription1 team-descriptions">
                <span class="team-accent-text">Education: </span>master’s degree in Administrative Management

              </p>
              <p class="team-overlay__discription2 team-descriptions">
                <span class="team-accent-text">Experience:</span> 5 years

              </p>
              <p class="team-overlay__discription3 team-descriptions">
                <span class="team-accent-text">Field of competence:</span> sales management, client management, project management

              </p>
              <p class="team-overlay__discription4 team-descriptions">
                <span class="team-accent-text">Credentials:</span> Certified Sales Development Representative

              </p>
            </div>
          </div>
        </li>

        <li class="team-list__item">
          <div class="thumb">
            <img
              src="./images/team/Samuel.jpg"
              alt="SAMUEL EDIKAN"
              class="photo SAMUEL"
            />
            <div class="team-overlay">
              <h4 class="team-overlay__title">Samuel Edikan</h4>
              <p class="team-overlay__role">Sales Manager
              </p>
              <p class="team-overlay__discription1 team-descriptions">
                <span class="team-accent-text">Education:</span>  master’s degree in International Communication

              </p>
              <p class="team-overlay__discription2 team-descriptions">
                <span class="team-accent-text">Experience:</span> 6 years

              </p>
              <p class="team-overlay__discription3 team-descriptions">
                <span class="team-accent-text">Field of competence:</span> sales management, client management, project management

              </p>
              <p class="team-overlay__discription4 team-descriptions">
                <span class="team-accent-text">Credentials:</span>  Certified Inside Sales Professional

              </p>
            </div>
          </div>
        </li>

        <li class="team-list__item">
          <div class="thumb">
            <img
              src="./images/team/Vladislav.jpg"
              alt="VLADISLAV KLYMENKO"
              class="photo VLADISLAV"
            />
            <div class="team-overlay">
              <h4 class="team-overlay__title">Vladislav Klymenko</h4>
              <p class="team-overlay__role">IT Manager</p>
              <p class="team-overlay__discription1 team-descriptions">
                <span class="team-accent-text">Education:</span> bachelor’s degree in Cybersecurity

              </p>
              <p class="team-overlay__discription2 team-descriptions">
                <span class="team-accent-text">Experience:</span> 4 years

              </p>
              <p class="team-overlay__discription3 team-descriptions">
                <span class="team-accent-text">Field of competence:</span> IT development, cybersecurity, protection of confidential information

              </p>
              <p class="team-overlay__discription4 team-descriptions">
                <span class="team-accent-text">Credentials:</span> Gateways ECE

              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
