 <!-- <ul class="service-list">
          <li class="service-list__item">
            <div class="service-list__item-header">
              <p class="number-service">1</p>
              <h3 class="accent-text-service">Financial Data Entry</h3>
            </div>
            Our skilled bookkeepers ensure that every financial transaction is
            accurately recorded, maintaining a real-time snapshot of your
            company's financial health.
          </li>
          <li class="service-list__item">
            <div class="service-list__item-header">
              <p class="number-service">2</p>
              <h3 class="accent-text-service">
                Accounts Payable and Receivable
              </h3>
            </div>

            We streamline your accounts payable and receivable processes,
            ensuring timely payments and efficient collections.
          </li>
          <li class="service-list__item">
            <div class="service-list__item-header">
              <p class="number-service">3</p>
              <h3 class="accent-text-service">
                Bank and Credit Card Reconciliation
              </h3>
            </div>

            Leave the tedious task of reconciling bank and credit card
            statements to us. We ensure that your records align with actual
            transactions.
          </li>
          <li class="service-list__item">
            <div class="service-list__item-header">
              <p class="number-service">4</p>
              <h3 class="accent-text-service">Expense Tracking</h3>
            </div>

            We keep a close eye on your expenses, categorizing and tracking them
            meticulously to provide you with a clear breakdown of your financial
            outflows.
          </li>
          <li class="service-list__item">
            <div class="service-list__item-header">
              <p class="number-service">5</p>
              <h3 class="accent-text-service">Financial Reporting</h3>
            </div>

            Our team prepares detailed financial reports, such as income
            statements, balance sheets, and cash flow statements, allowing you
            to gain valuable insights into your business's performance.
          </li>
        </ul> -->