.aboutUs-Wrap {
    width: 100vw;
    height: 100vh;
    // background-color: rgb(189, 188, 188);
    background: linear-gradient(180deg, rgba(97, 97, 97, 0.543) 20%, rgba(255, 255, 255, 0) 100%);
    // color: rgb(0, 0, 0);
    // background-image: url('../images/aboutUs.jpg');
    // background-repeat: no-repeat;
    // background-size: 150%;
    // background-position-x: -100px;
    // background-position-y: -500px;
    display: flex;
    flex-direction: column;
}

// advantages section
.advantages-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 50px;
    @include desktop{
        margin-top: 80px;
        padding: 20px; 

    }
  
}

.advantages-title { 
    font-size: 1.4rem;
    margin-top: 30px;
    font-weight: 700;
    color: #f6f6f6;
    text-align: center;
    @include tablet{
        font-size: 2rem;

    }
   
}

.advantages-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    @include desktop{
        justify-content: center;
    }
}

.advantages-list__item {
    width: calc(100% / 2 - 10px);

    height: 70px;
    font-size: 0.7rem;
    text-align: center;
    color: #f6f6f6;
    // background-color: rgba(7, 40, 9, 0.382); /* Цвет оверлея */
    background-color: #4e6355;
    padding: 10px 5px;
   justify-content: space-between;


    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
    font-weight: 400;
    @include desktop{
        width: calc(100% / 4 - 20px);
        // padding: 15px 10px;
        height: 100px;
        font-size: 1rem;
        padding: 20px 10px;
    }
}

.icon {
    display: inline-block;
    width: 100%;
    //   background-color: $background-color;
    height: 2em;
    stroke-width: 0;
    //   stroke: white;
    fill: #f6f6f6;
}
.icon-library {
    width: 1.0625em;
}

// vision section
.vision-wrap {
    background-image: url("../images/vision.jpeg");
    background-size: cover;
    margin-top: 15px;
    display: flex;
    color: white;
    height: 50%;

    @include tablet{
        height: 55%;
    }

}

.leftSide-vision {
    flex: 2;
    background-color: #505050b2;
    backdrop-filter: blur(8px);
   
}

.title-vision{
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 0.9rem;
    margin: 10px 0;
    @media screen and (min-width: 550px) {
        margin: 10px 0;

    }
    @include tablet{
        font-size: 1rem;
        font-weight: 700;
        margin: 30px 0;

    }
}
.text-vision{
    font-size: 0.6rem;

    font-weight: 400;
    color: #fff;
    // text-align: center;
    padding: 0 20px;
    line-height: 1.3rem;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    letter-spacing: 0.05rem;
    @media screen and (min-width: 550px) {
        font-size: 0.8rem;

        
    }
    @include tablet{
        font-size: 0.8rem;

    }
}

.rightSide-vision {
    flex: 1;
}
