.aboutUs-Wrap {
    // width: 100%;
    height: 100vh;
    margin: 0 auto;
}

// advantages section
.advantages-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 40px;
    @include MINtablet {
        margin-top: 0;

        justify-content: center;
        align-items: center;
    }
    @include tablet {
        flex-direction: row;

    }
    @include desktop {
        padding-top: 80px;
        padding-bottom: 30px;
        // width: 100%;

        // padding: 20px;
    }
}
.advantages-list {
    gap: 10px;
    flex-direction: column;
    @include tablet {
        gap: 15px;
        padding-right: 15px;
        display: flex;
    }
    @include desktop {
        justify-content: center;
    }
}
.advantages-list__item {
    font-family: $secondary-font-style;
    font-size: 0.7rem;
    text-align: left;

    row-gap: 10px;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    justify-content: space-between;
    color: $secondary-text-color;

    @include desktop {
        // font-size: 0.7rem;
    }
}

.advantages-list__item-header {
    font-family: $secondary-font-style;

    color: $primary-text-color;
    display: flex;
    align-items: end;
    font-size: 1.1rem;
    font-weight: 500 ;
    @include tablet {
        font-size: 1rem;
    }
}
.advantages-list__item-title {
    font-family: $primary-font-style;

    font-size: 1.4rem;
    font-weight: 700;
    color: $primary-text-color;
    text-align: start;
    @include MINtablet {
        padding-top: 30;

        justify-content: center;
        align-items: center;
    }

    @include tablet {
        font-size: 2rem;
        // margin-bottom: 40px;
    }
}





.icon {
    display: inline-block;
    height: 3em;
    stroke-width: 0;
    fill: $accent-btn-color;
    margin-right: 20px;
}
.icon-library {
    width: 1.0625em;
}

// picture

.aboutUs-picture-wrap {
    display: none;
    display: flex;
    @include MINtablet {
        font-size: 1rem;
        // margin-bottom: 20px;
        // flex:1;
        height: 40%;
        width: 90%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position:  bottom;
        background-image: url("../images/aboutUsSectioncopy.jpg");
    }
    @include tablet {
        background-size: contain;
        background-position: center right;
        height: 100%;
    }
}

// vision section
.vision-wrap {
    // background-image: url("../images/vision.jpeg");
    background-size: cover;
    margin-top: 15px;
    display: flex;
    color: white;
    height: 50%;

    @include tablet {
        height: 55%;
    }
}

.leftSide-vision {
    flex: 2;
    background-color: #505050b2;
    backdrop-filter: blur(8px);
}

.title-vision {
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 0.9rem;
    margin: 10px 0;
    @media screen and (min-width: 550px) {
        margin: 10px 0;
    }
    @include tablet {
        font-size: 1rem;
        font-weight: 700;
        margin: 30px 0;
    }
}
.text-vision {
    font-size: 0.6rem;

    font-weight: 400;
    color: #fff;
    // text-align: center;
    padding: 0 20px;
    line-height: 1.3rem;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    letter-spacing: 0.05rem;
    @media screen and (min-width: 550px) {
        font-size: 0.8rem;
    }
    @include tablet {
        font-size: 0.8rem;
    }
}

.rightSide-vision {
    flex: 1;
}
