@import "../base/container.scss";
@import "../utils/variables.scss";
@import "../utils/breakpoints.scss";

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    font-size: 0.8rem;
    background-color: rgba(130, 128, 128, 0.347);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    z-index: 100;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 20px;
    @include max-MINtablet {
        flex-direction: row-reverse;
    }
    @include tablet {
        padding: 5px 40px;
    }
}

// burger
.icon-menu {
    width: 40px;
    height: 40px;
    fill: white;
    cursor: pointer;
    @include tablet {
        display: none;
    }
}
// logo
.logo,
.home-link {
    width: 60px;
    margin-right: auto;
    @include MINtablet {
        margin: 0 auto;
    }
    @include tablet {
        margin: 0;
    }
    @include desktop {
        width: 100px;
        margin: 0;
    }
}

// navigation
.nav-list {
    display: none;
    @include tablet {
        display: flex;
        column-gap: 15px;
    }
}

.nav-btn {
    background: transparent;
    border: none;
    color: white;
    transition: color 0.3s ease-in-out;
}

// button contact us
.contact-us-btn {
    display: none;
    @include MINtablet {
        display: flex;
        background-color: $background-color;
        color: #fff;
        border: none;
        padding: 10px 20px;
        transition: background-color 0.3s ease-in-out;
    }
}

// social
.header-social-wrap {
    display: none;
    @include tablet {
        display: flex;
    }
}

.header-social-list {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.header-social-icon {
    fill: white;
    width: 15px;
    height: 15px;
    transition: fill 0.3s ease-in-out;
}

// hovers

.nav-btn:hover {
    color: $background-color;
}

.header-social-icon:hover {
    fill: $background-color;
}

.contact-us-btn:hover {
    background-color: #219048;
}
