@import "../utils/variables.scss";

.hero {
    width: 100vw;
    height: 100vh;
    background-color: $background-color;
    background: linear-gradient(rgba(166, 142, 112, 0.3),rgba(166, 144, 112, 0.3)), url('../images/Company.jpg');
    background-size: cover;
    background-position: center;
    // background: linear-gradient(90deg, rgb(125, 125, 125) , rgba(255, 255, 255, 0) 60%), url('../images/team/Oleksandr4.jpg');
    // background-size: cover;
    // backdrop-filter: blur(10px);
}

.hero-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    @include tablet {
    }
    @include desktop {
        flex-direction: row;
        width: 1280px;
        margin: 0 auto;
    }
}

.hero-left-side {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    backdrop-filter: blur(12px);
    background-color: rgba(1, 39, 21, 0.736);
    padding: 30px;
    // justify-content: center;
    // text-align: center;

    @include desktop {
        // align-items: flex-start;
        // justify-content: center;
        align-items: flex-start;

        text-align: right;
        margin-top: 0;
    }
}

.title {
    font-weight: 700;
    font-size: 2rem;
    max-width: 350px;
    color: #ffffff;
    text-align: center;
    @include tablet {
        font-size: 3rem;
        max-width: 550px;
    }

    @include desktop {
        text-align: left;

        font-size: 4rem;
        width: 550px;
    }
}
.accent-text {
    color: $accent-text;
    // color: rgb(2, 83, 36);
}

// .group{
//     text-transform: uppercase;
//     letter-spacing: 0.1em;
// }

.subtitle {
    font-family: "Roboto", sans-serif;
    font-size: 0.7rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    color: #fff;
    @include desktop {
        font-size: 1rem;
    }
}
// 3 42 37
.contact-us-btn-hero {
    display: flex;
    background-color: $accent-btn-color;
    color: #fff;
    border: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease-in-out;
    margin: 0 auto;

    @include desktop {
        margin: inherit;
        margin-right: auto;
    }
}

.contact-us-btn-hero:hover {
    background-color: $hover-btn-color;
}

// right side
.hero-right-side {
    width: 50%;
    background-color: #ffffff;
}

.hero-photo{
    width: 100%;
    object-fit: contain;
}