.services-wrap {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: linear-gradient(180deg, rgba(85, 85, 85, 0.671) 0%, rgba(255, 255, 255, 0.694) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-image: url("../images/services.jpeg");
    @include tablet {
        background-size: cover;
    }
    @include desktop {
        background-size: 110%;
        background-position: center;
    }
}

.services-title {
    font-size: 1.4rem;

    margin-top: 80px;
    font-weight: 700;
    color: #ffffff;
    margin-left: 80px;
    text-align: start;
    margin-bottom: 20px;
    // text-shadow: 0px 0px 23px rgba(0,0,0,0.4);
    @include tablet {
        font-size: 2rem;
        margin-top: 89px;
    }
}

.services-title-list {
    // margin-top: 140px;
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    padding: 10px 5px;
    letter-spacing: 0.07rem;
}

.rightSide-services {
    // padding-left: 40px;
    // flex: 2.5;
}

.leftSide-services {
    // flex: 1;
    // background-image: url("../images/form.jpg");
    background-size: cover;
    background-position: center;
    // margin-right: -20px;
    // margin-top: 60px;
}

.services-list {
    display: flex;
    column-gap: 3px;
    row-gap: 5px;
    // row-gap: 3rem;
    // padding: 20px 0;
    flex-wrap: wrap;
    color: white;
    justify-content: center;
}
.services-list__item {
    width: calc(100% / 2 - 2px);
    height: 25vh;

    overflow: hidden;
    @include MINtablet {
        width: calc(100% / 3 - 3px);
        height: 35vh;
    }
    @include desktop {
        width: calc(100% / 3 - 40px);
        height: 30vh;
    }
}

.overlay-services {
    width: 100%;
    height: 100%;
    background-color: #4e6355;
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px;

    @include MINtablet {
        padding: 20px;
    }
}

.services-title-list {
    font-size: 1.3rem;
    @include MINtablet {
        font-size: 1.5rem;
    }
}

.services-text {
    font-size: 0.8rem;
    @include MINtablet {
    }
    color: rgba(255, 255, 255, 0.569);
}

.readmore-link {
    margin-top: auto;
    padding: 10px 20px;
    // border: 1px solid #405245dc ;
    background-color: rgba(255, 255, 255, 0.277);
    transition: background-color 0.3s ease-in-out;
    &:hover {
        background-color: rgba(233, 230, 230, 0.47);
    }

    @include MINtablet {
        padding: 10px 40px;
    }
    // margin-right: auto;
}
// =================  accordion V2  =================
.ac {
    border: none !important;
    background-color: #5d5c5c00 !important;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(14px);
}
.ac-header {
    background-color: #545e54e1;

    color: white;
    border: none;
}

#accBtn {
    color: white !important;
    padding: 15px;
}

.ac-text {
    color: rgba(255, 255, 255, 0.979) !important;
    padding: 10px;
}

.desc-ac {
    text-align: center;
    color: #ffffffad;
}

.ac-list {
    display: flex;
    justify-content: space-between;
}

.ac-list__item {
    // width: calc(100% / 5 - 10px);
    display: flex;
    flex-direction: column;
    color: #ffffffb2;
}

.accent-text-ac {
    font-size: 1.2rem;
    color: white;
    font-weight: 700;
    margin-bottom: 5px;
    display: block;
    height: 50px;
    text-align: center;

    background-color: #5d5c5c84;
    padding: 0 5px;
}
